body {
    background-color: black;
    background-image: url("images/starfield.gif");
    color: lime;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    cursor: url('images/alien-cursor.cur'), auto;
  }
  
  a {
    color: hotpink;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    text-decoration: underline;
    background: #444;
  }
  